.body{
    background-color: var(--color-black);
    padding: 0px 20px;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px, 1fr));
    column-gap: 7vw;
    margin: 0;
    justify-items:center ;
    padding: 0px 2vw;
}
.header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    
}
.title{
    color: var(--color-white);
}
.collapse{
    color:var(--color-primary);
    cursor: pointer;
}