.wrapper {
    width: 160px;
  }
  
  .card {
    position: relative;
    width: 160px;
    height: 205px;
    border-radius: 10px;
    overflow: hidden;  
  }
  .card img{
    width: 160px;
    max-height: 100%;
   
  }
  

  .titleWrapper {
    margin-top: 6px;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-white);
    text-align: left;
    font-size: 14px;
  }
  
  .banner {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 42px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    padding: 0px 6px;
    .chip {
      color: var(--color-white);
      background-color: var(--color-black);
    }
  }

  .pill {
    font-size: 12px;
    background-color: var(--color-black);
    width: max-content;
    padding: 6px;
    border-radius: 10px;
  }