.navbar {
    background-color: var(--color-primary);
    height: 74px;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  